.sidebarBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 200px;
    min-width: 300px;
    color: #FDD325;
    margin: 30px;

}

.buttonBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90px;
}

.rangeBlock {

}

.button {
    height: 36px;
    width: 96px;
    border-radius: 2px;
}