.table {
    border-collapse: collapse;
    //table-layout: fixed;
    width: 100%;
td {
    background-color: #f6f6f6;
    text-align: center;
    padding: 10px 15px;
    border-bottom: 1px solid white;
}
}